/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: rgb(241, 224, 206); */
    color: white;
    background-image: url(./assets/DpDUVNZWkAAYrQT.jpg);
    background-size: cover;
    opacity: 20px;
}
